* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Acme'
}
/*-------Header section-------*/
#first-div{
    color:white;
    text-align: center;
}
.jumbotron{
    background-image: url("../imgs/assets/backgrounds/h_img.jpg");
    background-size: cover;
    padding-top: 230px;
}
#d-logo{
    padding-bottom: 60px;
}
#mouse{
    padding-top: 200px;
}
/*-------About Us section-------*/
#aboutUs{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
/*-------Services section-------*/
#services{
    background-image: url("../imgs/assets/backgrounds/s_image.jpg");
    background-size: cover;
    color:white;
    padding-top: 120px;
    padding-bottom: 80px;
    margin-bottom: 50px;
    text-align: center;
}
/*-------What We Do section-------*/
#whatWeDo{
    text-align: center;
    margin-bottom: 4%;
}


#whatWeDo h1{
    margin-bottom: 30px;
}
.design-words, 
.development-words, 
.product-words {
    display: none;
}
/*-------Portfolio section-------*/
#portfolio{
    text-align: center;
}
.card {
    margin: 10px;
    position: relative;
    overflow: hidden;
}
.card-deck {
    padding: 1% 4%;
}

.card1-words, 
.card2-words, 
.card3-words, 
.card4-words, 
.card5-words, 
.card6-words, 
.card7-words,
.card8-words{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 15%;
}
/*-------Contact us section-------*/
#contactUs{
    background-image: url("../imgs/assets/backgrounds/c_image.jpg");
    background-size: cover;
    background-position: cover;
    padding-top: 30px;
    padding-bottom: 80px;
    margin-top: 50px;
    text-align: center;
    color: white;
}
.wholeform {
    position: relative;
    width: 700px;
    max-width: 100%;
    left: 50%;
    transform: translate(-50%);
    color: white;

}
.wholeform input {
    width: 49%;
    background: transparent;
    color: white;
}
.wholeform textarea {
    margin-top: 10px;
    width: 100%;
    background: transparent;
    color: white;
}
::placeholder{
    font-size: 10px;
    color: white;
}
#contactUs h1{
    color: white;
}
#contactUs button{
    background-color:white;
    color:black;
}
/*-------Social media and footer section-------*/

section img{
    padding: 10px;
}

.footer{
    padding-top: 30px;
}