* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Acme'
}
/*-------Header section-------*/
#first-div{
    color:white;
    text-align: center;
}
.jumbotron{
    background-image: url("../imgs/assets/backgrounds/h_img.jpg");
    background-size: cover;
    padding-top: 230px;
}
#d-logo{
    padding-bottom: 60px;
}
#mouse{
    padding-top: 200px;
}
/*-------About Us section-------*/
#aboutUs{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}